/**
 * Theme for HPE presentations.
 *
 * Changes should be done on theme/source/hpe.scss file, not hpe.css.
 * Refer to https://en.wikipedia.org/wiki/Sass_(stylesheet_language)
 *
 */

// Default mixins and settings
@import "../template/mixins";
@import "../template/settings";


// HPE Colors
$hpeGreen:      rgb(1,169,130);
$hpeBronze:     rgb(128,116,110);
$hpeSlate:      rgb(66,85,99);
$hpeTurquoise:  rgb(42,210,201);
$hpePurple:     rgb(97,71,103);
$hpeOrange:     rgb(255,141,109);
$hpeDarkSteel:  rgb(95,122,118);
$hpeGray:       rgb(198,201,202);
$hpeDarkGray:   rgb(128,130,133);


// Override theme settings (see ../template/settings.scss)
$mainFont: Arial, Helvetica, sans-serif;
$mainColor: black;
$headingFont: Arial, Helvetica, sans-serif;
$headingColor: black;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: white;
$linkColor: $hpeGreen;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);


// Theme template
@import "../template/theme";


.reveal .slides {
  text-align: left;
  text-justify: auto;
  /* h1 and h2 are used only on the first slide */
  h1 {
    font-weight: bold;
    font-size: 55px;
  }
  h2 {
    font-weight: normal;
    font-size: 25px;
  }
  /* h3, h4 and p are used on all slides */
  h3 {
    font-weight: bold;
    font-size: 45px;
  }
  h4 {
    font-weight: normal;
    font-size: 40px;
  }
  p {
    font-weight: normal;
    font-size: 30px;
  }
}

.reveal ol,
.reveal ul {
  list-style-type: none;
  margin: 0px;
  font-weight: normal;
  font-size: 30px;
}

.reveal ul ul,
.reveal ul ul ul {
  list-style-type: none;
}

.reveal ul  > li:before,
.reveal ul ul  > li:before,
.reveal ul ul ul > li:before {
  content: "– ";
}

.reveal section img {
  margin: none;
  background: none;
	border: none;
	box-shadow: none;
}

.breakslide {
  background-color: $hpeSlate;
}

.breakslide h1 {
  font-weight: bold;
  font-size: 58px;
  color: white;
}

.breakslide h2 {
  font-weight: normal;
  font-size: 40px;
  color: white;
}
